<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thankyou for Booking with us <%= @booker['name'] %>!</h1>
    <p>
      You have successfully been booked on Flight <%= @flight_id %>.<br>
    </p>
  </body>
</html>